$main-color: #F7FFF7;
$sec-color: #1F0812;
$main-accent: #809BCE;
$sec-accent: #37515F;
$other-accent: #C97D60;
$transition: 0.3s ease-in-out;

* {
    box-sizing: border-box;
    font-family: "dm-sans", sans-serif;
}

body {
    background-color: $main-color;
    margin: 0;

}

@mixin glassmorphism {
    box-shadow: 8px 16px 32px rgba(0, 0, 0, 0.644);
    backdrop-filter: blur(20px)
}

.link {
    text-decoration: none;
    color: white;
    transition: $transition;
    padding: 10px;
    font-size: 1.2rem;
    position: relative;
    
    &:hover {
        opacity: 0.8;

        &:after {
            transform: scaleX(1);
        }
    }
    
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: $main-accent;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease-in-out;

    }
}


button {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    @include glassmorphism();
    transition: $transition;

    &:hover {
        opacity: 0.8;
    }
}

main {

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $sec-color;
        color: white;
        padding: 1.3rem;
        background-image: ur;
        h1 {
            text-align: center;
            background-color: $sec-accent;
            padding: 1rem;
            box-shadow: 8px 16px 32px rgb(43, 42, 42);
            border-radius: 8px;
        }

        p {
            text-align: center;
        }

    }
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    height: 30vh;
    width: 100%;
    @include glassmorphism();
    margin: 1rem auto;
    border-radius: 8px;
    background-color: $sec-color;
    margin: 2.5% auto;
    color: white;

    div {
        max-width: 65%;
        padding: 1rem;
    }

    img {
        height: 200px;
        width: auto;
    }

    button {
        width: 30%;
        background-color: rgb(255, 254, 254);

        &:hover {

            background-color: rgb(15, 15, 15) !important;
            color: white;
        }
    }
}

footer {
    background-color: $sec-color;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;
        padding: 1rem;
    }
}

#never-finished {
    background-color: $sec-accent;

}

#TYFA {
    background-color: $main-accent;

}

#n {
    background-color: $other-accent
}

@media screen and (min-width: 1200px) {
    section {
        width: 70% !important;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        top: 0;
    }

    to {
        opacity: 1;
        top: 15px;
    }
}